@charset "ISO-8859-1";
* {
    margin: 0px;
    padding: 0px;
}

#fh:hover {
    color: rgb(253, 88, 17) !important;
}

#nh:hover {
    color: rgb(253, 88, 17) !important;
}
#nh{
    color: white;
}



.carousel {
    width: 100%;
    /* max-width: 600px; */
    /* Adjust width as needed */
    margin: 0 auto;
    /* Center the carousel */
    overflow: hidden;
    position: relative;
    translate: 0px -1px;
    
}


.carousel-image {
    width: 100%;
    display: none;
    /* object-fit: fill; */
  
    /* Hide all images by default */
}

.carousel-image.active {
    display: block;
    /* Display active image */
}



.button-show-all{
    display: flex;
    justify-content: center;
}
.card{
    /*z-index: -1 !important;*/
    justify-content: center;
}